.DataVisualizationWidget {
    width: 30%;
    height: 300px;
    text-align:center;
    float: left;
    padding: 20px;
    margin: 20px 40px 40px 0px;
    background: #eaefec;
    box-shadow: 1px 4px 7px #00000024;
}

.DataVisualizationWidget h3 {
    margin-top: 5px;
    font-size:1.1em;
    font-weight:normal;
    color:#555;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.DataVisualizationWidget.NumericWidget p {
    font-size: 4em;
    position: relative;
    vertical-align: middle;
    line-height: 80px;
    color: #2571c1;
    text-shadow: 2px 3px 7px #00000038;
}

.DataVisualizationWidget p ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.DataVisualizationWidget p li {
    padding: 8px;
    background: #dfe5ec;
    margin: 3px;
}